option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "L1hQniCxZqeOJiyc2UpMJvtrtLi7eEeB50mn6IrI"
    MASTER_KEY: "Gece1t91ozjMr7VWHkACQuchhh15D9G4mjnvHBTh"
    DATABASE_URI: "mongodb://heroku_db3jxkrb:llbde8pon2simc9rblk5s90d9c@ds159988.mlab.com:59988/heroku_db3jxkrb"
    NODE_ENV: "production"
    SERVER_URL: "http://myappname.elasticbeanstalk.com/parse"
    PUSH: "ios"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
